<!DOCTYPE html>
<html>
<head>
  <title>РадиаторЕкб купить радиатор охлаждения двигателя в Екатеринбурге</title> 
  <meta charset="utf-8">
  <meta name="description" content="Продажа автомобильных радиаторов в Екатеринбурге">
  <meta name="keywords" content="радиатор, авторадиатор, купить автомобильный радиатор екатеринбург">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="yandex-verification" content="0983efdc2ea15171" />
  <meta name="google-site-verification" content="IQathsXEDvhtbRmJDEPXjSffeJWQ-h6qiUJJET1VI8s" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136454115-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-136454115-1');
  </script>
</head>
<body>
 <div id="app">
   <v-app light>
    <!-- <v-toolbar class="white">
      <v-toolbar-title v-text="title"></v-toolbar-title>
    </v-toolbar> -->
    <v-content>
      <section>
        <v-parallax src="assets/hero.jpeg" height="400">
          <v-card class="mx-auto elevation-10">
          <v-card-text class="headline">
             <h1 class="text-xs-center">Радиатор Урал</h1>
          </v-card-text>
          <v-divider></v-divider>
        </v-card>
        </v-parallax>
      </section>

      <section>
        <v-layout column wrap class="my-5" align-center>
          <v-flex xs12 sm4 class="my-3">
            <div class="text-xs-center">
              <h2 class="headline">Специализированный сервис по подбору и поставке авто радиаторов</h2>
              <span class="subheading">
                Быстрый и точный подбор. Отправка в регионы
              </span>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center text-xs-center>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text>
                      <v-icon x-large class="blue--text text--lighten-2">accessibility</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Индивидуальный подход</div>
                    </v-card-title>
                    <v-card-text class="subheading">
                      Подбор продукции производится грамотными специалистами строго по оригинальным каталогам автопроизводителей, что позволяет более точно узнать совместимость запрашиваемых деталей.
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">face</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Помощь при выборе</div>
                    </v-card-title>
                    <v-card-text class="subheading">
                      Работаем в режиме онлайн, поможем выбрать оптимальную стоимость и срок поставки. Достаточно оставить заявку по форме обратной связи, и специалисты свяжутся с вами уже с готовым предложением
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">shopping_basket</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Удобный формат обслуживания</div>
                    </v-card-title>
                    <v-card-text class="subheading">
                      Отправка в регионы.При необходимости поможем подобрать и предоставить сопутствующие товары для замены радиатора
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

      <section>
        <v-parallax src="assets/section.jpg" height='700'>
          <v-card class="mx-auto">
              <v-card-text class="headline">
                 <h1 class="text-xs-center">Заказ on-line</h1>
              </v-card-text>
            </v-card>         
          <v-container fluid grid-list-xs>
            <v-layout row wrap>             
              <v-flex xs12 sm4>
                  <v-text-field v-model="msg.firstname" label="Как Вас зовут" solo></v-text-field>
              </v-flex>
              <v-flex xs12 sm4>
                  <v-text-field v-model="msg.telephone" label="Телефон" solo></v-text-field>
              </v-flex>
              <v-flex xs12 sm4>
                  <v-text-field v-model="msg.email" label="e-mail" solo></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>             
                <v-flex xs12 sm3>
                    <v-text-field v-model="msg.auto_model" label="Марка авто" solo></v-text-field>
                </v-flex>
                <v-flex xs12 sm3>
                    <v-text-field v-model="msg.auto_year" label="Год выпуска" solo></v-text-field>
                </v-flex>
                <v-flex xs12 sm3>
                    <v-text-field v-model="msg.auto_vin" label="Вин номер" solo/>
                </v-flex>
                <v-flex xs12 sm3>
                  <v-text-field v-model="msg.auto_kpp" label="Тип КПП" solo></v-text-field>
                  </v-flex>
              </v-layout>
              <v-card-actions class="justify-center">
              <v-btn color="success" @click="sendEmail">Отправить</v-btn>
              </v-card-actions>
          </v-container>
        </v-parallax>
      </section>

      <section>
        <v-container grid-list-xl>
          <v-layout row wrap>
            <v-flex xs12 sm6> 
              <v-card class="transparent elevation-1">
                <v-card-text class="text-xs-center headline">О нас</v-card-text>
                <v-card-text class="text-xs-center">
                <p>ООО «Онико »</p>
                <p>ИНН 6674235458</p>
                <p>График работы:</p>
                <p>ПН-ПТ : с 10-00 до 20-00</p>
                <p>СБ : с 11-00 до 15-00</p>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm6>
              <v-card light class="transparent elevation-1">
              <v-card-text class="headline text-xs-center">Контакты</v-card-text>
                <v-list>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">phone</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>+7(961)777-08-80</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">place</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-card-title primary-title>Екатеринбург, Сибирский тракт 8д оф.100/1</v-card-title>
                    </v-list-tile-content>
                  </v-list-tile>
                    <div id='my-map'></div>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">email</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <a href="mailto:radiatorekat@gmail.com">radiatorekat@gmail.com</a>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </section>
      <script type="application/javascript">
        (function () {
            var options = {
                whatsapp: "+79617770880", 
                call_to_action: "Написать нам", 
                position: "right",
            };
            var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <v-snackbar
        v-model="sb.snackbar"
        :bottom="sb.y === 'bottom'"
        :left="sb.x === 'left'"
        :multi-line="sb.mode === 'multi-line'"
        :right="sb.x === 'right'"
        :timeout="sb.timeout"
        :top="sb.y === 'top'"
        :vertical="sb.mode === 'vertical'"
      >
        {{ sb.text }}
      </v-snackbar>
      <v-footer class="blue darken-2">
        <v-layout row wrap align-center>
          <v-flex xs12>
          </v-flex>
        </v-layout>
      </v-footer>
    </v-content>
  </v-app>
 </div>
 <script src="https://unpkg.com/vue/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
 <script src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0bdec58273d85529fce025014604031493188711740859c77556acceedb8c442&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true&amp;id=my-map"></script>
 <script>    
   new Vue({
    el: '#app',
    data () {
      return {       
        title: 'Your Logo',
        msg: {
          firstname: '',
          telephone: '',
          email: '',
          auto_model:'',
          auto_year:'',
          auto_vin:'',
          auto_kpp:'',
        },
        sb: { snackbar: false,
              y: 'top',
              x: 'right',
              mode: '',
              timeout: 50000,
              text: 'Ваше сообщение отправлено'
        }
      }
    },
    methods: {
      alert_send: function () {
          this.sb.snackbar = true
          for(var key in this.msg) {
            this.msg[key] = ''
          }
      },
      sendEmail: function (name, email, message) {
      fetch('/send', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          name: this.msg.firstname+' '+this.msg.telephone,
          email: this.msg.email,
          message: 'модель: '+ this.msg.auto_model + ';Год: ' + this.msg.auto_year + ';Vin: '+ this.msg.auto_vin + '; КПП: '+ this.msg.auto_kpp + ';Имя: '+this.msg.firstname +';Телефон '+ this.msg.telephone
        })
      }) 
        .then((res) => {
          console.log('here is the response: ', res);
          this.alert_send()
        })
        .catch((err) => {
          console.error('here is the error: ', err);
        })
      },  
    },
    mounted() {}
  })
 </script>
</body>
</html>